.App {
	text-align: center;
	font-size: 1.2em;
}

.Header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	width: 100%;
	height: 9vh;
	border-bottom: 2px solid black;
}

.Header h1 {
	padding-left: 10px;
	margin: 0;
}

.header-link:hover {
	background: lightgray;
	font-weight: bolder;
	padding: 2px;
}

.header-link {
	padding: 10px;
}

/* landing/ home page */

.landing h1 {
	margin: 0;
	margin-bottom: 10px;
	font-size: 5em;
}

.landing {
	overflow: hidden;
	height: 100vh;
}

.quote {
	background-color: white;
	border: 3px solid black;
	box-shadow: 5px 5px black;
	border-radius: 2px;
	padding: 15px;
	width: 350px;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
}

.shopping {
	margin: 50px;
	font-size: 1em;
	border: 3px solid black;
	border-radius: 2px;
	background: white;
	font-family: inherit;
	padding: 10px;
}

.shopping:hover {
	cursor: pointer;
}

.link {
	text-decoration: none;
	color: inherit;
}

.link-hover:hover {
	color: #d299c2;
	font-weight: bolder;
}

/* makeip page */

.Makeup {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
}

.Makeup h2 {
	margin-top: 0;
	background-color: white;
	border: 3px solid black;
	padding: 5px;
	box-shadow: 2px 3px black;
}

li {
	list-style-type: none;
	line-height: 2;
}

.listOfBrands,
.listOfCategories {
	height: 100%;
	margin: 10px;
	padding: 10px;
}

.listOfBrands .ul {
	columns: 4;
}

.listOfCategories {
	width: 25%;
}

.ul {
	margin: 0;
	padding: 0;
	background-color: white;
	border: 3px solid black;
}

a {
	text-decoration: none;
	color: inherit;
}

.product-list {
	background-color: white;
	padding: 15px;
	width: 17%;
	display: flex;
	flex-direction: column;
	margin: 5px;
	border: 3px solid black;
}

.flex-product {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5em;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-family: inherit;
	margin: 0 auto;
}

.center-form {
	display: flex;
	flex-direction: column;
}

input,
textarea {
	font-family: inherit;
	padding: 10px;
	margin-top: 10px;
	width: 300px;
	border: 3px solid black;
}

.submit-btn {
	width: 150px;
	padding: 15px;
	background-color: white;
	border: 3px solid black;
	margin: 50px;
	font-family: inherit;
}

.Post {
	height: 100vh;
}

.SingleProduct {
	background-color: white;
	padding: 15px;
	margin: 5px;
	border: 3px solid black;
}

@media only screen and (max-width: 800px) {
	.Makeup {
		display: flex;
		flex-direction: column-reverse;
		order: 2;
	}

	.listOfCategories {
		width: auto;
	}

	.listOfCategories .ul {
		columns: 2;
	}

	.listOfBrands .ul {
		columns: 3;
	}

	.flex-product {
		flex-wrap: nowrap;
		flex-direction: column;
	}

	.product-list {
		flex-direction: row;
		width: auto;
	}

	.header-links {
		display: flex;
		flex-direction: column;
	}

	.Header {
		height: 10%;
	}
}
@media only screen and (max-width: 500px) {
	.listOfBrands .ul {
		columns: 2;
	}
}
