.App{
    text-align: center;
    font-size: 1.2em;
}

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    width:100%;
    height: 9vh;
    border-bottom: 2px solid black;
}

.Header h1{
    padding-left: 10px;
    margin:0;
}

.Header .link{
    padding-right: 10px;;
}

.header-link:hover{
    background: lightgray;
    font-weight: bolder;
    padding: 2px;
}

/* landing/ home page */

.landing h1 {
    margin:0;
    padding-top: 50px;
    overflow:hidden ;
    margin-bottom: 10px;
}

.landing{
    height: 100vh;
}

.quote{
    background-color: white;
    border: 3px solid black;
    border-radius: 2px;
    padding: 15px;
    width: 350px;
    text-align: center;
    margin: 0 auto;
}

.shopping{
    margin: 50px;
    font-size: 1em;
    border: 0 5px 10px 2px;
    border-radius: 2px;
    background:#eee;
    font-family: inherit;
    padding: 10px;
}

.link{
    text-decoration: none;
    color:inherit;
}

.link-hover:hover{
    color:#d299c2;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 1.2em;
}

/* makeip page */

.Makeup{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.Makeup h2{
    margin-top:0;
}

li {
  list-style-type: none;  
  line-height: 2;
}

.listOfBrands, .listOfCategories {
    height: 100%;
    background-color: white;
    border: 3px solid black;
    margin: 10px;
    padding: 10px;
}

.listOfCategories{
    width: 25%; 
}

.ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color:white;
    font-weight: bold;
}


.product-img{
    width:175px;
    margin-right: 10px;
}

.product-list{
    display: flex;
    background-color: black;
    flex-direction: row;
}

@media only screen and (max-width: 800px) {



    .Makeup {
      display: flex;
      flex-direction: column-reverse;
      order: 2;
    }

    .listOfCategories{
        width: auto;
    }

    .listOfCategories .ul {
        columns: 2;
    }

  }
