body {
  background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);
  margin: 0;
  background-repeat: no-repeat;
  font-family: monospace;
  background-size: cover;
  height:100%;
}


html {
  min-height:100%;
}